.btnCenter {
    text-align: center !important;
}

.headingIcon{
    float: left;
}

.headingText{
    text-align: center;
}

.heading h1{
    text-align: center;
    width: 60%;
    position: absolute;
    top: 0;
    left: 20%;
}
.heading img{
    width:2.5em
}