<section>
    <md-list>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Strength</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Dexterity</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Constitution</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Intelligence</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Wisdom</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Charisma</h3>
                    <h4>Score: 10</h4>
                    <p>Modifier: +2</p>
                    <p>Temp Adjustment: 20</p>
                    <p>Temp Modifier: +5</p>
                </section>
            </md-card>
        </md-list-item>
    </md-list>
</section>