<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Character</title>
</head>
<body>
        <header>
            <section>
                <a href="index.html">
                    <img border="0" src="images/h-menu.svg"></a>
                <h1>Character</h1>
            </section>
        </header>
        <section>
            <ul>
                <li><a href="character.html" class="ui-btn-active ui-state-persist">Attributes</a></li>
                <li><a href="characters_combat.html">Combat</a></li>
                <li><a href="characters_details.html">Details</a></li>
            </ul>
        </section>
        <section>
            <tableid="charAttributesTable" class="ui-responsive table-stroke">
                <thead>
                <tr>
                    <th>Ability</th>
                    <th>Score</th>
                    <th>Modifier</th>
                    <th>Temp Adjustment</th>
                    <th>Temp Modifier</th>
                </tr>
                </thead>
                <tbody>
                    <tr id="charStrength" name="charStrength">
                        <td>Strength</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                    <tr id="charDexterity" name="charDexterity">
                        <td>Dexterity</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                    <tr id="charConstitution" name="charConstitution">
                        <td>Constitution</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                    <tr id="charIntelligence" name="charIntelligence">
                        <td>Intelligence</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                    <tr id="charWisdom" name="charWisdom">
                        <td>Wisdom</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                    <tr id="charCharisma" name="charCharisma">
                        <td>Charisma</td>
                        <td><button data-inline="true">10</button></td>
                        <td>+2</td>
                        <td>20</td>
                        <td>+5</td>
                    </tr>
                </tbody>
            </table>
        </section>
</body>
</html>