<section>
    <md-list>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>HP: 43 / 50</h3>

                    <p>Non Lethal Damage: 7</p>

                    <p>Wounds: Arrow to knee</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Initiative Modifier: 5</h3>

                    <p>3(Dex) + 2(Misc)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Armor Class: 30</h3>

                    <p>10 + 3(Armor) + 4(Shield) + 3(Dex) + 2(Size) + 2(Misc)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Touch Armor class: 2</h3>

                    <p>Flat-footed Armor class: 3</p>

                    <p>Modifiers: none</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Fortitude (Constitution): 5</h3>

                    <p>1(Base) + 1(Ability) + 0(Magic) + 0(Misc) + 3(Temp)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Reflex (Dexterity): 5</h3>

                    <p>1(Base) + 1(Ability) + 0(Magic) + 0(Misc) + 3(Temp)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Will (Wisdom): 5</h3>

                    <p>1(Base) + 1(Ability) + 0(Magic) + 0(Misc) + 3(Temp)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Base Attack Bonus: 5</h3>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Spell Resistance: 2</h3>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>CMB: 5</h3>

                    <p>1(Base Atk Bonus) + 1(Str) + 3(Size)</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>CMD: 5</h3>

                    <p>1(Base Atk Bonus) + 1(Str) + 3(Dex)+ 3(Size) + 10</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Speed (Land):</h3>

                    <p>4ft 5sq (Base)</p>

                    <p>2ft 3sq (w/Armor)</p>

                    <h3>Speed (Fly Maneuverability):</h3>

                    <p>4ft</p>

                    <h3>Speed (Swim):</h3>

                    <p>2ft</p>

                    <h3>Speed (Climb):</h3>

                    <p>2ft</p>

                    <h3>Speed (Burrow):</h3>

                    <p>2ft</p>
                </section>
            </md-card>
        </md-list-item>
        <md-list-item>
            <md-card>
                <section class="md-tile-content">
                    <h3>Temp Modifiers:</h3>

                    <p>+2 Base Speed</p>
                </section>
            </md-card>
        </md-list-item>
        <md-card>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Lazer Sword</span>
                </h2>
            </md-toolbar>
            <section class="md-tile-content">
                <h3 md-inset>Type: Energy</h3>
                <h3 md-inset>Damage: 16</h3>
                <p md-inset>Attack Bonus: +6</p>
                <p md-inset>Critical: +8</p>
                <p md-inset>Range: 6ft</p>
                <p md-inset>Ammunition: N/A</p>
            </section>
        </md-card>
    </md-list>
</section>