<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Characters Name</title>
</head>
<body>
    <header data-role="header" class="heading">
        <section data-role="content">
            <a href="#/" data-prefetch data-transition="slide" data-direction="reverse">
                <img border="0" src="images/h-menu.svg"></a>
            <h1 data-var="charName">Timmy</h1>
        </section>
    </header>
    <section data-role="navbar" id="conditionsNav" name="conditionsNav">
        <ul>
            <li><a href="characters.html" data-theme="c">Attributes</a></li>
            <li><a href="characters_combat.html" data-theme="c">Combat</a></li>
            <li><a href="characters_details.html" data-theme="a" class="ui-btn-active ui-state-persist">Details</a></li>
        </ul>
    </section>
    <section data-role="content">
        <form id="charBasicDetailsEdit">
            <h3>Character Name:</h3>
            <input type="text" id="charName" value="Timmy"/>
            <h3>Alignment:</h3>
            <input type="text" id="charAlignment" value="Good"/>
            <h3>Player:</h3>
            <input type="text" id="charPlayer" value="John Doe"/>
            <h3>Class:</h3>
            <input type="text" id="charClass" value="Rogue"/>
            <h3>Level:</h3>
            <input type="NUMBER" min="0" max="20" id="charLevel" value="2"/>

            <section data-role="controlgroup" data-type="horizontal" class="btnCenter">
                <a href="characters_details.html" data-role="button" data-theme="a" data-inline=true onclick="">Cancel</a>
                <a href="characters_details.html" data-role="button" data-theme="a" data-inline=true onclick="">Delete</a>
                <a href="characters_details.html" data-role="button" data-theme="a" data-inline=true onclick="">Update</a>
            </section>
        </form>
    </section>
</body>
</html>