<md-list>
    <md-list-item>
        <md-card>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Basic Information</span>
                </h2>
            </md-toolbar>
            <section class="md-tile-content">
                <h3>Name: Timmy</h3>
                <p>Class: Rogue</p>
                <p>Level: 2</p>
                <p>Alignment: Good</p>
                <p>Player: John Doe</p>
            </section>
        </md-card>
    </md-list-item>
    <md-list-item>
        <md-card>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>Advanced Information</span>
                </h2>
            </md-toolbar>
            <section class="md-tile-content">
                <p>Deity: Zues</p>
                <p>Homeland: Pluto</p>
                <p>Race: Human</p>
                <p>Size: 1</p>
                <p>Gender: Male</p>
                <p>Age: 24</p>
                <p>Height: 185</p>
                <p>Weight: 152</p>
                <p>Hair: Brown</p>
                <p>Eyes: Green</p>
            </section>
        </md-card>
    </md-list-item>