<header data-role="header" class="heading">
    <section data-role="content">
        <a href="#/" data-prefetch data-transition="slide" data-direction="reverse">
            <img border="0" src="images/h-menu.svg"></a>
        <h1>New Character</h1>
    </section>
</header>
<section data-role="content" ng-controller="CharacterController">
    <h1 style="color:red;">{{errorMessage}}</h1>
    <input type='file' ng-model="fileUrl" class="ui-input-clear-hidden" />
    <br>
    <label for="imageFrame">Avatar:</label>
    <section style="max-width: 100%; padding: 5px; border: 1px solid black; overflow: hidden;">
        <img id="imageFrame" style="max-width: 100%; display: block; margin: auto;" />
    </section>
    <br>
    <form id="newCharForm">
        <input type="hidden" name="imageData">
        <label for="charName" required>Name:</label>
        <input type="text" ng-model="charName" id="charName">
        <label for="charClass">Class:</label>
        <select name="charClass" id="charClass" data-native-menu="false">
            <option value="choose-one" data-placeholder="true">Choose one...</option>
            <option value="bard">Bard</option>
            <option value="barbarian">Barbarian</option>
            <option value="cleric">Cleric</option>
            <option value="druid">Druid</option>
            <option value="fighter">Fighter</option>
            <option value="monk">Monk</option>
            <option value="paladin">Paladin</option>
            <option value="ranger">Ranger</option>
            <option value="rogue">Rogue</option>
            <option value="sor">Sorcerer</option>
            <option value="wiz">Wizard</option>
        </select>
        <label for="txtLevel">Level</label>
        <input type="number" id="txtLevel" min="1" max="20" value="1">
    </form>
    <section data-role="controlgroup" data-type="horizontal" class="btnCenter">
        <a ng-click="createCharacter(charName)">Save</a>
        <a href="#/">Cancel</a>
    </section>
</section>