[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.activeCharacter {
    font-weight: 600;
    outline: dotted thick #660000;
}

.menu > span {
    display: inline-block;
    vertical-align: top;
}