<section ng-include="'view/common/navbar.html'"></section>
<section>
    <md-tabs md-dynamic-height md-border-bottom  md-stretch-tabs="always" class="md-primary">
        <a ng-href="#/hazards"><md-tab label="My Hazards" /></a>
        <a ng-href="#/hazards/all"><md-tab label="All Hazards" /></a>
    </md-tabs>
</section>
<section>
    <md-content>
        <md-list>
            <md-list-item ng-repeat="hazardId in currentCharacter.hazards">
                <md-card><a ng-href="#/hazard/{{hazardId}}">
                    <section class="md-tile-content">
                        <a href="#/hazard/{{hazardId}}">{{hazards[hazardId-1].name}}</a>
                    </section></a>
                </md-card>
            </md-list-item>
        </md-list>
</section>