<section ng-include="'view/common/navbar.html'"></section>
<section data-role="content">
             <section data-role="controlgroup" data-type="horizontal" id="hazardsOptions"
         name="hazardsOptions" class="btnCenter">
        <a href="#/hazards" class="ui-btn-active ui-state-persist" data-theme="c" data-role="button">My Hazards</a>
        <a href="#/hazards/all" data-theme="c" data-role="button" data-transition="none">All Hazards</a>
    </section>
    <section id="hazardsListMine" name="hazardsList">
        <ul data-role="listview" data-filter="true" data-inset="true">
<!--
            <li data-role="list-divider">Addictions</li>
            <li data-role="list-divider">Curses</li>
            <li data-role="list-divider">Diseases</li>
            <li data-role="list-divider">Poisons</li>
            <li data-role="list-divider">Traps</li>
-->
            <li ng-repeat="hazardId in character.hazards">
                <a href="#/hazard/{{hazardId}}">{{hazards[hazardId-1].name}}</a>
            </li>
        </ul>
    </section>
</section>