<header data-role="header" class="heading">
    <section data-role="content">
        <a href="#/" data-prefetch data-transition="slide" data-direction="reverse">
            <img border="0" src="images/h-menu.svg"></a>
        <h1>Hazards</h1>
    </section>
</header>
<section data-role="content">
    <section data-role="controlgroup" data-type="horizontal" id="hazardsOptions"
         name="hazardsOptions" class="btnCenter">
        <a href="#/hazards" data-role="button" data-transition="none">My Hazards</a>
        <a href="#/hazards/all"class="ui-btn-active ui-state-persist" data-theme="c" data-role="button">All Hazards</a>
    </section>
    <section id="hazardsListAll" name="hazardsList">
        <ul data-role="listview" data-filter="true" data-inset="true">
<!--            <li data-role="list-divider">Addictions</li>
            <li data-role="list-divider">Curses</li>
            <li data-role="list-divider">Diseases</li>
            <li data-role="list-divider">Haunts</li>
            <li data-role="list-divider">Infestations</li>
            <li data-role="list-divider">Insanities</li>
            <li data-role="list-divider">Poison</li>
            <li data-role="list-divider">Traps</li>-->
            <li ng-repeat="hazard in hazards"><a href="#/hazard/{{hazard.id}}">{{hazard.name}}</a></li>
        </ul>
    </section>
</section>