<section ng-include="'view/common/navbar.html'"></section>
<section data-role="content">
    <section data-role="controlgroup" data-type="horizontal" id="hazardsOptions"
         name="hazardsOptions" class="btnCenter">
        <a href="#/hazards" data-role="button" data-transition="none">My Hazards</a>
        <a href="#/hazards/all"class="ui-btn-active ui-state-persist" data-theme="c" data-role="button">All Hazards</a>
    </section>
    <section id="hazardsListAll" name="hazardsList">
        <ul data-role="listview" data-filter="true" data-inset="true">
            <li ng-repeat="hazard in hazards"><a href="#/hazard/{{hazard.id}}">{{hazard.name}}</a></li>
        </ul>
    </section>
</section>