<md-content flex>
    <md-list>
        <md-list-item class="hazards-my" ng-repeat="hazard in resultSet = (hazards | filter:search) | limitTo: pageSize : skip">
            <md-card><a ba-click="go('/hazard/' + hazard.id)">
                <section class="md-tile-content">
                    <h3>{{hazard.name}}</h3>
                    <h4>{{hazard.type}}</h4>
                </section></a>
            </md-card>
        </md-list-item>
    </md-list>
</md-content>
<section ng-include="'view/common/page_controls.html'"></section>