<md-content style="height: 600px;">
    <md-list>
        <md-list-item class="spells-my" ng-repeat="spell in spellSet = (spells | filter:search) | orderObjectBy:'name' | limitTo: pageSize : skip">
            <md-card><a ng-href="#/spell/{{spell.id}}">
                <section class="md-tile-content">
                    <h3>{{spell.name}}</h3>
                </section></a>
            </md-card>
        </md-list-item>
    </md-list>
</md-content>
<button ng-mousedown="setSkip(0)">First</button>
<button ng-mousedown="setSkip(skip - pageSize)">Prev</button>
<span>{{(skip / pageSize) + 1}} of {{(spellSet.length / pageSize) + 1 | floor}}</span>
<button ng-mousedown="setSkip(skip + pageSize)">Next</button>
<button ng-mousedown="setSkip(spellSet.length - (spellSet.length % pageSize))">Last</button>