<section ng-include="'view/common/item_navbar.html'"></section><br>
<md-card>
    <section class="md-tile-content">
        <h3>Description:</h3><br>
        <h4 ng-bind-html="spell.description"></h4>
    </section>
</md-card>
<md-bottom-sheet>
    <section layout="row" layout-align="center">
        <md-button class="md-raised md-primary" ba-click="toggleSpell(spell.id)">
            {{existsOnChar ? "Remove from" : "Add to"}} Character
        </md-button>
        <p>&nbsp</p>
        <md-button class="md-raised md-primary" ba-click="go('/spells')">Cancel</md-button>
    </section>
</md-bottom-sheet>