<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Feats</title>
</head>
<body>
<header data-role="header" class="heading">
    <section data-role="content">
        <a href="index.html" data-prefetch data-transition="slide" data-direction="reverse">
            <img border="0" src="images/h-menu.svg"></a>
        <h1>Feats</h1>
    </section>
</header>
<div data-role="controlgroup" data-type="horizontal" class="btnCenter">
    <a href="feats.html" data-role="button" data-transition="none">My Feats</a>
    <a href="" data-role="button" data-transition="none" class="ui-btn-active ui-state-persist">All Feats</a>
</div>
<div data-role="main" class="ui-content">
    <form>
        <input id="filterTable-input" data-type="search" placeholder="Search For Feats...">
    </form>
    <table data-role="table" class="ui-responsive ui-shadow" id="myTable" data-filter="true" data-input="#filterTable-input">
        <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Source</th>
        </tr>
        </thead>
        <tbody data-fill="Feats" data-filter="none">
        </tbody>
    </table>
</div>

</body>
</html>