<section>
    <md-content style="height: 600px;">
        <md-list>
            <md-list-item class="feats-all" ng-repeat="feat in character.feats | filter:search">
                <md-card><a ng-href="#/feats/{{feat}}">
                    <section class="md-tile-content">
                        <h3>{{feats[feat - 1].name}}</h3>
                        <h4>{{feats[feat - 1].type}}</h4>
                        <p>{{feats[feat - 1].source}}</p>
                    </section></a>
                </md-card>
            </md-list-item>
        </md-list>
</section>