<section>
    <md-content flex>
        <md-list>
            <md-list-item class="feats-all" ng-repeat="feat in resultSet = (feats | filter:search) | limitTo: pageSize : skip">
                <md-card><a ng-href="#/feats/{{feat.id}}">
                    <section class="md-tile-content">
                        <h3>{{feat.name}}</h3>
                        <h4>{{feat.type}}</h4>
                        <p>{{feat.source}}</p>
                    </section></a>
                </md-card>
            </md-list-item>
        </md-list>
    </md-content>
</section>
<section ng-include="'view/common/page_controls.html'"></section>