<section class="menu">
    <span>
        <h1>Menu</h1>
        <ul>
            <li><a href="">Character</a></li>
            <li><a href="">Spells / Abilities</a></li>
            <li><a href="">Skills</a></li>
            <li><a href="#/feats">Feats</a></li>
            <li><a href="">Gear</a></li>
            <li><a href="#/hazards">Hazards</a></li>
        </ul>
    </span>

    <span ng-controller="CharacterController" ng-include="'view/menu/character_selector.html'">
    </span>
</section>