<section class="menu">
    <span>
        <h1>Menu</h1>
        <ul>
            <li><a href="character.html">Character</a></li>
            <li><a>Spells / Abilities</a></li>
            <li><a href="skill.html">Skills</a></li>
            <li><a href="feat.html">Feats</a></li>
            <li><a href="gear.html">Gear</a></li>
            <li><a href="#/hazards">Hazards</a></li>
        </ul>
    </span>

    <span ng-include="'view/menu/character_selector.html'" ng-controller="CharacterController">
    </span>
</section>