<section ng-controller="CharacterController" layout="column">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="false">
            <md-content layout-padding>
                <md-grid-list
                        md-cols-sm="3" md-cols-md="3" md-cols-gt-md="3"
                        md-row-height-gt-md="1:1" md-row-height="1:1"
                        md-gutter="12px" md-gutter-gt-sm="8px">
                    <md-grid-tile class="green" ng-repeat="character in characters" ng-click="activate(character.id);"
                                  ng-class="character.id === CharacterManager.activeIndex ? 'activeCharacter' : ''">
                        <md-grid-tile-footer>
                            <h3>{{character.name}}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>
                    <a href="#/newcharacter">
                        <md-grid-tile class="newChar">
                            <md-grid-tile-footer>New Character</md-grid-tile-footer>
                        </md-grid-tile>
                    </a>
                </md-grid-list>
                <br>
                <md-divider>
                    <br>
                <md-button ng-href="#/" class="md-primary">
                    Character
                </md-button><br><br>
                <md-button ng-href="#/spells" class="md-primary">
                    Spells / Abilities
                </md-button><br><br>
                <md-button ng-href="#/" class="md-primary">
                    Skills
                </md-button><br><br>
                <md-button ng-href="#/feats" class="md-primary">
                    Feats
                </md-button><br><br>
                <md-button ng-href="#/" class="md-primary">
                    Gear
                </md-button><br><br>
                <md-button ng-href="#/hazards" class="md-primary">
                    Hazards
                </md-button><br>
                </md-divider>
            </md-content>
        </md-sidenav>
        <md-toolbar>
            <section class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="Menu">
                    <md-icon md-svg-icon="images/menu.svg" ng-click="toggleLeft()"></md-icon>
                </md-button>
                <h2>
                    <span>{{title}}</span>
                </h2>
                    <span flex></span>
            </section>
        </md-toolbar>
</section>